button {
  width: 58px;
  height: 34px;
  left: 493px;
  top: 206px;
  border-radius: 5px;
  border: none;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;

  cursor: pointer;
  color: #fdfdfd;
  background-color: #90d7d5;
}

input {
  width: 217px;
  height: 34px;
  margin: 0 10px 0 24px;
  border: 1px solid #90d7d5;
}

.text {
  position: center;
  display: flex;
  justify-content: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  padding: 0 0 8px 0;
  color: #fbd3ab;
}
