body {
  background: url(https://images.unsplash.com/32/Mc8kW4x9Q3aRR3RkP5Im_IMG_4417.jpg?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);
  background-attachment: fixed;
  background-size: cover;
  font-family: Roboto;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.todos {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1300px;
  min-height: 400px;
  background: #f6ede7;
  border-radius: 5px;
}

h1 {
  align-items: center;
  color: #badadf;
}
